{% extends "base.html" %}
{% block container %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Dar de baja maquina #{{maquina.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Esta seguro de dar de baja la maquina<strong>{{ maquina }}</strong> ?
            </div>
            <a href="{% url 'maquinaria:maquina-list' %}"><button type="button" class="btn btn-primary">Volver atrás</button></a>
            <button type="submit" class="btn btn-danger">Dar de baja</button>
        </form>
    </div>
</div>
{% endblock %}