{% extends "base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Maquina Details #{{maquina.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Maquina Modelo</dt>
      <dd class="col-sm-9">{{ maquina.modelo_verbose }}</dd>
      <dt class="col-sm-3">Año</dt>
      <dd class="col-sm-9">{{ maquina.agno }}</dd>
      <dt class="col-sm-3">Patente</dt>
      <dd class="col-sm-9">{{ maquina.patente }}</dd>
      <dt class="col-sm-3">Estado</dt>
      <dd class="col-sm-9">{{ maquina.estado_verbose }}</dd>
    </dl>

    </div>
</div>

{% endblock %}