{% extends "base.html" %}
{% load static %}
{% block partials %}

{% endblock %}

{% block container %}
<h1 style="text-align: center;">Modulos</h1>

<div class="row">
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Personas <strong>(en desarrollo)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor personas</h6>
              <p class="card-text">Aquí podrás revisar toda persona registrada en el sistema</p>
              <a href="#" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="#" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Maquinas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor Maquinas</h6>
              <p class="card-text">Aquí podrás revisar toda maquina registrada en el sistema</p>
              <a href="{% url 'maquinaria:maquina-create' %}" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="{% url 'maquinaria:maquina-list' %}" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
              <a href="{% url 'maquinaria:maquina-search' %}" class="card-link"><i class="fas fa-search" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Clientes <strong>(en desarrollo)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor clientes</h6>
              <p class="card-text">Aquí podrás revisar todo cliente registrado en el sistema</p>
              <a href="#" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="#" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Registro de arriendos <strong>(en desarrollo)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor arriends</h6>
              <p class="card-text">Aquí podrás revisar todo arriendo registrado en el sistema</p>
              <a href="#" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="#" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Dispositivos moviles <strong>(en desarrollo)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor Dispositivos moviles</h6>
              <p class="card-text">Aquí podrás revisar todo movil registrado en el sistema</p>
              <a href="#" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="#" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Trabajadores <strong>(en desarrollo)</strong></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mantenedor inspector</h6>
              <p class="card-text">Aquí podrás revisar todo inspector registrado en el sistema</p>
              <a href="#" class="card-link"><i class="far fa-plus-square" style="font-size: large;"></i></a>
              <a href="#" class="card-link"><i class="fas fa-list" style="font-size: large;"></i></a>
            </div>
          </div>
    </div>
  </div>

{% endblock %}

{% block parciales %}
{% endblock%}
