{% extends "base.html" %}

{% block container %}
<table class="table">   
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">Patente</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Dar de baja</th>
            </tr>
        </thead>
        <tbody>
            {% for maquina in maquinas %}
            <tr>
                    <td>{{maquina.modelo_verbose}}</td>
                    <td>{{maquina.agno}}</td>
                    <td>{{maquina.patente}}</td>
                    <td>{{maquina.estado_verbose}}</td>
                    <td>
                        <a href="{% url 'maquinaria:maquina-detail' maquina.id %}">
                            <i class="fas fa-info-circle" style="color: blue; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'maquinaria:maquina-update' maquina.id %}">
                            <i class="fas fa-pen-square" style="color: yellow; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'maquinaria:maquina-delete' maquina.id %}">
                            <i class="fas fa-ban" style="color: red; font-size: 1.5rem; text-align: center;"></i>
                        </a>
                    </td>

            </tr>
            {% endfor %}
        </tbody>
</table>

<a href="{% url 'maquinaria:maquina-create' %}">
    <button type="button" class="btn btn-success">
        <i class="fas fa-plus-square"> Agregar nueva maquina</i>
    </button>
</a>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

