{% extends "base.html" %}
{% block title %}
Crear usuario
{% endblock %}
{% block content_head %}
<!--Titulo-->
<div class="row round-borderform">
    <div class="col">
        <h2>Buscar maquina</h2>
        <!--Fin titulo-->
        {% endblock %}
        {% block container %}
        <!--Formulario-->
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">
                Buscar
            </button>
        </form>
        <!--Fin formulario-->
    </div>
</div>
{% endblock %}